body {
    background: #ECECEC;

}

.flex-container {
    display: flex;
    height: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.flex-container>div {
    background: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 20px 20px 20px;
}

.top{
    text-align: left;
}

.top>div{
    display: inline-block;
}

.lang {
    color: white;
    background-color: black;
}

h1{
    font-size: 1rem;
    text-align: center;
}

button{
    background-color: rgb(14, 13, 13);
    color: white;
}

.rightbox{
    background: blue;
}
.content1, .content2{
    display: block;
    text-align: left;

}.content2{
    margin: 10px 0px 10px 0px;
}
.content2 >button{
    text-align: center;
    color: #828284;
    width: 100%;
    margin: 10px 0px 10px 0px;
}
.buttom-container{
    text-align: center;
}
.buttom-container > div{
    display: inline-block;
    font-size: 12px;
}
