body {
    background: #ECECEC;

}

.flex-container {
    display: flex;
    height: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.flex-container > div {
    width: 700px;
    background: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 20px 20px 20px 20px;
}

.top{
    text-align: left;
}

.top>div{
    display: inline-block;
}

.lang {
    color: white;
    background-color: black;
}

h1{
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    margin: 50px 0 10px 0px;
}

button{
    background-color: rgb(14, 13, 13);
    color: white;
    width: 100%;
}

.buttom-container{
    text-align: center;
    margin: 15px 0 15px 0;
}
.buttom-container > div{
    display: inline-block;
    font-size: 12px;
}

.form-group {
    text-align: left;
}

.carousel-cell {
    width: 100%; /* full width */
    height: 160px; /* height of carousel */
    margin-right: 10px;
    border-radius: 10px;
    
  }
  .carousel-cell.is-selected {
    background: #ED2;
  }
  .rightbox{
    margin: 10px 5px 10px 5px;
    padding: 5px;
    text-align: center;
  }